    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Password</title>
    </head>
    <body>

        <h2>Reset Password</h2>

        <form action="/reset-password" method="post">
            <input type="hidden" name="gmail" value="{{gmail}}">
            <label for="password">New Password:</label>
<input type="password" name="password" required pattern=".{8,}.*[!@#$%^&*].*" title="Password must be at least 8 characters long and contain a special character">
            <input type="submit" value="Update Password">
        </form>

    </body>
    </html>
